<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="register.component.css" />
  </head>
  <body>
    <div class="container">
      <div class="center">
          <h1>Register</h1>
          <form (submit)="onSubmit()">
              <div class="txt_field">
                  <input type="text"  [(ngModel)]="customerName" [ngModelOptions]="{standalone:true}">
                  <span></span>
                  <label>customerName</label>
              </div>
              <div class="txt_field">
                  <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone:true}">
                  <span></span>
                  <label>email</label>
              </div>
              <div class="txt_field">
                  <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone:true}" >
                  <span></span>
                  <label>password</label>
              </div>    
              <input name="submit" type="Submit" value="Sign Up">
              <div class="signup_link">
                  Have an Account ? <a href="/login">Login Here</a>
              </div>
          </form>
      </div>
  </div>
  </body>
</html>