<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">  
    <title>Men's Fashion</title>
</head>
<body>
    <div class="div1">
        <span> Free shipping, 30-day return or refund guarantee</span>
        <nav>
            <ul class="nav1">
                <li class="s1"><a routerLink="/signin">SIGNIN</a></li>
                <li class="s2"><a routerLink="/signup">SIGNUP</a></li>
                <h4>Hi, {{userEmail}}</h4>
            </ul>
        </nav>
    </div>
    <div class="div2">
        <b>Men's Fashion</b>
        <nav>
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/wishlist">Wishlist</a></li>
                <li><a routerLink="/contactUs">Contact Us</a></li>
                <li>
                    <input type="text" class="img1" placeholder="Search Products" [(ngModel)]="searchTerm" (click)="onSearch()">
                    <div class="search">
                        <a>
                            <img src="https://img.freepik.com/free-vector/illustration-magnifying-glass-icon_53876-5613.jpg?size=626&ext=jpg" class="search" alt="search">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="cart">
                        <a routerLink="/cart">
                            <img src="https://img.freepik.com/free-photo/shopping-cart-3d-render-icon_460848-6902.jpg?size=626&ext=jpg" alt="Cart">
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <router-outlet></router-outlet>
</body>
</html>
